*{
    user-select: none;
}

.auth-section{
    min-height: 100vh;
    background-color: #f1f2f3;
    margin: 0% auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container-1{
    padding: 20px;
    margin-right: 10%;
}

.login-logo{
    /* padding: 5px 30px; */
    margin: 0 54%;
}

.auth-container-1{
    min-width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.auth-container-2 form{
    width: 100%;
    padding: 40px;
    margin-top: 17% ;
    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%),
     0 20px 48px rgb(0 0 0 / 5%),
     0 1px 4px rgb(0 0 0 / 10%);
    

     /* box-shadow: 0 10px 25px rgb(0 0 0/5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%); */

}

.auth-container-2 form label input{ 
    padding: 10px; 
    width: calc(100% - 30px); 
    border: solid 1px #0000003e; 
    font-size: 13px; 
} 

.auth-container-2 form label:nth-child(1) h4, 
.auth-container-2 form label:nth-child(2) h4, 
.auth-container-2 form label:nth-child(3) h4{ 
    margin-bottom: 5px; 
    margin-top: 10px; 
}
.auth-container-2 form label:nth-child(4){
    display: flex;
}

.auth-container-2 form label:nth-child(4) input{
    width: 15px;
    margin: 13px 18px 13px 0;
}

.auth-btn{
    width: 97%;
    margin-top: 10px;
    padding: 10px 5px;
    background-color: #009dff;
    border: solid 1px #009dff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 500;
}
.auth-btn:hover{
    background-color: #018ce3;
}

/* .auth-container-2 p{
    margin-left: 14%;
} */

.toggle-query{
    margin-left: 25%;
    text-align: center;
}

.handle-switch-btn{
    background-color: transparent;
    color: #007ac6;
    border: none;
    font-size: 13px;
    cursor: pointer;
}